body {
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    background-color: #F8F8FF;
}

input,
button,
select {
    min-width: 200px;
}

#container {
    display: flex;
}

#seperator {
    width: 50px;
}

.warning {
    color: red;
}

/* Color Pickr */
.pcr-app input,
.pcr-app button,
.pcr-app select{
    min-width: unset;
}
.picker {
    display: inline-block;
}
.pcr-button {
    border: 2px solid black;
}
.pcr-app .pcr-interaction .pcr-result {
    flex: unset;
    width: 100%;
}