body {
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
	background-color: #F8F8FF;
}

p {
	vertical-align: top;
	line-height: 1em;
	overflow: hidden;
	white-space: nowrap;
	/*text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px, 1px 0 #000;*/
}

#maindiv {
	overflow: hidden;
}

#container {
	display: flex;
}

#seperator {
	width: 50px;
}

#custom {
	flex-grow: 1;
	text-align: left;
}
/* Used as a tag */
.talking {
}

.silent {
}

#background_div {
	display:flex;
	line-height: 1.6em;
}

#background_labels {
}
#background_picker {
	flex-grow: 1;
	text-align: left;
}