body {
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
	background-color: #F8F8FF;
}

#container {
	display: flex;
}

#seperator {
	width: 50px;
}

#custom {
	flex-grow: 1;
	text-align: left;
}

#background_div {
	display:flex;
	line-height: 1.6em;
}

#background_labels {
}
#background_picker {
	flex-grow: 1;
	text-align: left;
}