p {
	vertical-align: top;
	line-height: 1em;
	overflow: hidden;
	white-space: nowrap;
	/*text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px, 1px 0 #000;*/
}

#maindiv {
	overflow: hidden;
}

/* Used as a tag */
.talking {
}